@model TripPlanner.Core.Entities.User

<h1>Remove User</h1>
<div class="row">
    <div>
        <form asp-controller="Users" asp-action="Remove" asp-route-id="@Model.UserID" method="post">
            <div><h4>Would you like to remove:</h4> @Model.UserID?</div>
            <p><h4>Username:</h4> @Model.Username</p>
            <p><h4>Email:</h4> @Model.Email</p>
            <input type="hidden" asp-for="UserID" />
            <button class="btn btn-danger">Remove</button>
            <a asp-action="Index" asp-controller="Users">Go Back</a>
        </form>
    </div>
</div>