body {
  overflow-x: hidden;
}

label {
    font-size: larger;
    padding-top: 10px;
    width: 100%;
}
  
input {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 75%;
}

form {
    text-align: center;
}

.btn-submit {
    margin-top: 10px;
    font-size: larger;
    border-radius: 20px;
}

.btn-submit {
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: larger;
  border-radius: 20px;
}

.btn-create-account {
  margin-top: 10px;
  font-size: small;
  font-family: 'Comfortaa', cursive;
  border-radius: 20px;
}

.btn-add {
  border-radius: 20px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: 'Comfortaa', cursive;
}

.btn-edit {
  border-radius: 20px 0% 0% 20px;
  font-family: 'Comfortaa', cursive;
}

.btn-delete {
  border-radius: 0% 20px 20px 0%;
  font-family: 'Comfortaa', cursive;
}

.btn-round {
  border-radius: 50%;
  font-family: 'Comfortaa', cursive;
}

.btn {
  padding-bottom: 2px;
}

.navbar-btn {
  border-radius: 0px;
  font-family: 'Comfortaa', cursive;
  font-size: small;
  margin-left: 2px;
  margin-right: 2px;
}

.table-data {
  margin: auto;
  text-align: left;
  vertical-align: middle;
  font-size: larger;
}

.login-container {
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
  
.table-wrapper-scroll-y {
  display: block;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}

.profile-container {
    height: 80vh;
}

.logo {
    text-align: center;
}

.my-error {
  background-color: #dc3545;
  border-radius: 20px;
  margin-top: 10px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.my-error-container {
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .my-error {
    animation: Expand normal 0.25s ease-in-out;
  }
}

@keyframes Expand {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.navbar-brand {
  margin-left: 5px;
  margin-right: 5px;
}
