@model TripPlanner.Core.Entities.Destination

<h1>Remove Destination</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form asp-controller="Destination" asp-action="Remove" asp-route-id="@Model.DestinationID" method="post">
            <p>Would you like to remove @Model.City, @Model.Country?</p>
            <input type="hidden" asp-for="DestinationID" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="StateProvince" />
            <input type="hidden" asp-for="Country" />
            <button class="btn btn-danger" asp-action="Remove" asp-controller="Remove">Remove</button>
            <a asp-action="GetAll" asp-controller="Destinations">Go Back</a>
        </form>
    </div>
</div>